Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Migrate==4.0.7
Flask-Limiter==3.8.0
WTForms==3.1.2
email-validator==2.1.1
python-dotenv==1.0.1
celery==5.4.0
redis==5.0.7
yt-dlp==2024.8.6
SpeechRecognition==3.10.4
pydub==0.25.1
opencv-python-headless==4.10.0.84
Pillow>=12.1.0,<13.0.0
pdf2docx==0.5.8
moviepy==1.0.3
qrcode==7.4.2
gTTS==2.5.1
rembg==2.0.83
onnxruntime==1.24.4
psutil==6.0.0
gunicorn==22.0.0
Werkzeug==3.0.3
openai-whisper
replicate